Repository kornelski/http-cache-semantics: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format, npm run typecheck

fix: make defensive object clones
  package-lock.json
  package.json
  src/__tests__/response.test.ts
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

revert: use leading underscores for private members
  src/index.ts
  src/types.ts
  tslint.json
Due: npm run lint:fix, npm run format, npm run typecheck

refactor: constants/methods, consistently use isNaN
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

refactor: collapse types into CachePolicy namespace
  package.json
  src/__tests__/okhttp.test.ts
  src/__tests__/response.test.ts
  src/__tests__/revalidate.test.ts
  src/__tests__/update.test.ts
  src/index.ts
  src/types.ts
  tslint.json
Due: npm run lint:fix, npm run format, npm run typecheck

style: use dist instead of lib for output
  .gitignore
  package.json
  tsconfig.build.json
  tsconfig.json
  tslint.json
Due: npm run format

fix: make fields readonly
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

fix: remove unused status option
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

Fix a mistake in README
  README.md
Due: npm run format

Delete package-lock.json
  package-lock.json
Due: npm run format

Fix typo; change cases of validtors to validators
  test/revalidatetest.js
Due: npm run lint:fix, npm run format

Rename var
  index.js
Due: npm run lint:fix, npm run format

Minor storable bug
  index.js
Due: npm run lint:fix, npm run format

Fix test
  test/responsetest.js
Due: npm run lint:fix, npm run format

Add status to tests
  test/updatetest.js
Due: npm run lint:fix, npm run format

Bump
  package.json
Due: npm run format

Test names
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Drop trustServerDate
  index.js
  package.json
  test/okhttptest.js
Due: npm run lint:fix, npm run format

minor refactoring, rfc 5861 (stale-if-error, stale-while-revalidate)
  README.md
  index.js
  test/okhttptest.js
  test/updatetest.js
Due: npm run lint:fix, npm run format

PR review
  index.js
Due: npm run lint:fix, npm run format

mocking time
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

revert last commit (mock -now- func)
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

monkey patch -now- function, as it breaks in CI
  test/okhttptest.js
Due: npm run lint:fix, npm run format

rfc 5861 (stale-if-error, stale-while-revalidate)
  README.md
  index.js
  test/okhttptest.js
  test/updatetest.js
Due: npm run lint:fix, npm run format

Explain trust server date
  README.md
Due: npm run format

Cache 308
  index.js
Due: npm run lint:fix, npm run format

Update mocha
  package.json
Due: npm run format

Don't use regex to trim whitespace
  index.js
  package.json
Due: npm run lint:fix, npm run format

Remove linting package zoo
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: npm run format

Create Electric ⚡
  Electric ⚡
Due: none

Better support stale-while-revalidate option
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Round ttl to integer ms
  index.js
Due: npm run lint:fix, npm run format

Update README.md
  README.md
Due: npm run format

feat: support for web standards
  .travis.yml
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/misctest.ts
  test/okhttptest.ts
  test/requesttest.ts
  test/responsetest.ts
  test/revalidatetest.ts
  test/satisfytest.ts
  test/updatetest.ts
  test/varytest.ts
  tsconfig.json
  tsup.config.ts
Due: npm run lint:fix, npm run format, npm run typecheck

test: update
  .vscode/extensions.json
  jest.config.js
  package.json
  pnpm-lock.yaml
  test/misc.test.ts
  test/okhttp.test.ts
  test/okhttptest.ts
  test/request.test.ts
  test/requesttest.ts
  test/response.test.ts
  test/responsetest.ts
  test/revalidate.test.ts
  test/satisfy.test.ts
  test/satisfytest.ts
  test/update.test.ts
  test/vary.test.ts
  test/varytest.ts
  tsconfig.json
Due: npm run lint:fix, npm run format, npm run typecheck

feat: support web standards (#4)
  .eslintrc.json
  .gitignore
  README.md
  index.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/misc.test.ts
  test/okhttp.test.ts
  test/okhttptest.js
  test/request.test.ts
  test/requesttest.js
  test/response.test.ts
  test/responsetest.js
  test/revalidate.test.ts
  test/revalidatetest.js
  test/satisfy.test.ts
  test/satisfytest.js
  test/update.test.ts
  test/updatetest.js
  test/vary.test.ts
  test/varytest.js
  tsconfig.json
  tsup.config.ts
Due: npm run lint:fix, npm run format, npm run typecheck

chore
  package.json
Due: npm run format

chore: changeset (#5)
  package.json
  pnpm-lock.yaml
  workflows/release.yml
  workflows/test.yml
  workflows/update.yml
Due: npm run format

chore: actions (#6)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update.yml
  package.json
  pnpm-lock.yaml
  test/okhttp.test.ts
Due: npm run lint:fix, npm run format, npm run typecheck

chore: init publish (#7)
  .changeset/README.md
  .changeset/config.json
  .changeset/stupid-ears-divide.md
Due: npm run format

docs: ci logo
  README.md
Due: npm run format

Path conditions:
  npm run lint:fix: (any of: *.ts) or (any of: *.js)
  npm run format: ((any of: *.ts) or (any of: *.js)) or (any of: *.{json,md,yml,yaml})
  npm run typecheck: any of: *.ts
