Repository kornelski/http-cache-semantics: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format, npm run typecheck

style
  test/misc.test.ts
Due: npm run lint:fix, npm run format, npm run typecheck

docs: add some comments and type definitions (#9)
  .changeset/empty-pens-doubt.md
  README.md
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

feat: public `useStaleIfError` method (#11)
  .changeset/violet-cherries-pump.md
  README.md
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

chore: v1.0.0 (#13)
  .changeset/proud-shoes-swim.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/okhttp.test.ts
Due: npm run lint:fix, npm run format, npm run typecheck

style
  .eslintrc.json
  .prettierrc.json
  .travis.yml
  jest.config.js
  src/index.ts
  test/misc.test.ts
  test/okhttp.test.ts
  test/request.test.ts
  test/response.test.ts
  test/revalidate.test.ts
  test/satisfy.test.ts
  test/update.test.ts
  test/vary.test.ts
  tsconfig.json
  tsup.config.ts
Due: npm run lint:fix, npm run format, npm run typecheck

feat: add cache query option
  .changeset/clever-goats-knock.md
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

feat: add cache query option (#15)
  .changeset/clever-goats-knock.md
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

feat: support `ignoreMethod` and `ignoreVary` options
  .changeset/friendly-clocks-shout.md
  src/index.ts
Due: npm run lint:fix, npm run format, npm run typecheck

Modified a previous pull request to support stale-while-revalidate in satisfiesWithoutRevalidation only when explicitly enabled. Thus maintaining backwards compatibility.
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Move must-revalidate check earlier
  index.js
Due: npm run lint:fix, npm run format

Fix min-fresh
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

useStaleWhileRevalidate must be false if the header is absent
  index.js
Due: npm run lint:fix, npm run format

Preserve options in revalidatedPolicy
  index.js
Due: npm run lint:fix, npm run format

Added a new 'evaluateRequest(req)' method that is able to support SWR
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Better support stale-while-revalidate option
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Docs
  README.md
  index.js
Due: npm run lint:fix, npm run format

Report stale-if-error as matching
  index.js
Due: npm run lint:fix, npm run format

Simplify evaluateRequest API
  README.md
  index.js
Due: npm run lint:fix, npm run format

Bump
  package.json
Due: npm run format

Sprinkled some TypeScript
  index.js
  test/misctest.js
  test/responsetest.js
  test/revalidatetest.js
  test/updatetest.js
Due: npm run lint:fix, npm run format

Declare types
  package.json
Due: npm run format

Fix must-revalidate forcing revalidation on fresh entries
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

Fix(CVE-2026-93748): fails to properly validate security-zeroed cache entries when processing client max-stale directives
  index.js
Due: npm run lint:fix, npm run format

Fix: handle Vary wildcard and inherited headers
  index.js
  test/varytest.js
Due: npm run lint:fix, npm run format

Enforce reuse restrictions in stale fallback paths
  index.js
  test/stalereusetest.js
Due: npm run lint:fix, npm run format

Enforce request and response restrictions across stale reuse
  .github/workflows/test.yml
  README.md
  index.js
  test/okhttptest.js
  test/stalerevalidationtest.js
Due: npm run lint:fix, npm run format

Simplify vary vs inherited properties
  index.js
  test/varytest.js
Due: npm run lint:fix, npm run format

fix: prevent max-stale bypass of protected responses
  index.js
  package-lock.json
  package.json
  test/okhttptest.js
  test/satisfytest.js
Due: npm run lint:fix, npm run format

Expose response status
  index.js
Due: npm run lint:fix, npm run format

npm
  package.json
Due: npm run format

Require matching requests for stale-if-error fallback
  index.js
  test/updatetest.js
Due: npm run lint:fix, npm run format

fix: honor shared-cache revalidation directives for stale responses
  index.js
  test/okhttptest.js
Due: npm run lint:fix, npm run format

fix: enforce response reuse rules across stale cache paths
  README.md
  index.js
  test/okhttptest.js
  test/satisfytest.js
  test/updatetest.js
Due: npm run lint:fix, npm run format

Path conditions:
  npm run lint:fix: (any of: *.ts) or (any of: *.js)
  npm run format: ((any of: *.ts) or (any of: *.js)) or (any of: *.{json,md,yml,yaml})
  npm run typecheck: any of: *.ts
